{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block title %}
Legal Seagull | Courts | {{ case.name }}
{% endblock %}

{% block content %}


<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong><em>{{ case.name }}</em></strong></h1>
      <p class="lead">{{ case.decisionDate }}</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Case Description
        </h3>
      </div>
      <div class="panel-body">
        {{ case.description|linebreaks }}
      </div>
      <div class="panel-footer">
        {% for tag in case.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="list-group">
      {% for opinion in opinions %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ opinion.name }}
          <a href="{{ opinion.get_absolute_url }}">
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </h4>
        <div class="list-group-item-text">
          {{ opinion.contents|linebreaks|slice:":250" }}
          Written by:
          {% for justice in opinion.writtenBy.all %}
          <a href="{{ justice.get_absolute_url }}">{{ justice.name }}</a>
          {% endfor %}
        </div>
      </div>
      {% empty %}
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>No opinions written.</h4>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

  {% include 'sidebar.html' %}

</div>

{% endblock %}
