{% extends 'layout/base.html' %}

{% block title %}
Legal Seagull | Courts | {{ case.name }}
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong><em>{{ case.name }}</em></strong></h1>
      <p class="lead">{{ case.decisionDate }}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 well">
    <div class="row">
      <p>{{ case.decisionDate }}</p>
      <p>{{ case.description }}</p>
      <p>{% for tag in case.tags.all %}
         <a href="{{ tag.get_absolute_url }}">{{ tag }}</a></p>
      {% if opinions %}
      {% for opinion in opinions %}
        <div class="col-lg-12 well">
	  <h3>{{ opinion.name }}</h3>
	  <p><a href="#">{{ opinion.writtenBy }}</p></a>
	  <p>{{ opinion.contents|linebreaks }}</p>
        </div>
      {% endfor %}
      {% empty %}
      Oh no. There's no opinions. T_T
      {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 well">
        Evernote
      </div>
      <div class="col-lg-12 well">
        Generate Citations
      </div>
      <div class="col-lg-12 well">
        Cross References
      </div>
    </div>
  </div>
</div>

{% endblock %}
