{% extends 'layout/base.html' %}

{% block title %}
Legal Seagull | Courts | Brown v Board of Education
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong><em>Brown v Board of Education</em></strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 well">
    <div class="row">
      <div class="col-lg-12 well">
        This page won't be used because we won't have the information leading up.
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 well">
        Reserved for Evernote
      </div>
      <div class="col-lg-12 well">
        Information and visualization and such
      </div>
    </div>
  </div>
</div>

{% endblock %}
