{% extends 'layout/base.html' %}

{% block title %}
Legal Seagull | Court Cases
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>Court Cases</strong></h1>
    </div>
  </div>
</div>

<div class="row well">
  <div class= "col-lg-8">
    <h2>Court Cases</h2>
      <div class="row">
          <!-- for case in cases -->
      </div>
  </div>
  <div class="col-lg-4">
    <h2>Analysis</h2>
      <div class="row">
        <div class=col-lg-12">
	  <!-- different analyzey things -->
	</div>
      <div>
  </div>
</div>

{% endblock %}
