{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block title %}
Legal Seagull | Court Cases
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>Court Cases</strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class= "col-lg-8">
    <div class="row">
      {% for case in cases %}
        <div class="col-lg-offset-1 col-lg-10 well">
          <h2><a href="{{ case.get_absolute_url }}">{{ case.name }}</a></h2>
	  {% if case.descisionDate %}
	  Orange
	  <p>{{ case.descisionDate|date }}</p>
          {% else %}
	  Apple
	  {% endif %}
          <p>{{ case.description }}</p>
	  {% for tag in case.tags.all %}
	    <a href="{{ tag.get_absolute_url }}"><p>{{ tag }}</p></a>
	  {% endfor %}
        </div>
      
      {% empty %}
      <p>Oh dear, why aren't there any cases?</p>
      {% endfor %}
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 well">
        <img src="{% static "imgs/evernote-logo.png" %}" />
	<strong>Evernote</strong>
      </div>
      <div class="col-lg-12 well">
        <strong>Generate Citations</strong>
	<p>{% now "jS F Y H:i" %}</p>
      </div>
      <div class="col-lg-12 well">
        <strong>Cross References</strong>
	<div class="row">
	  <div class="col-lg-6">
	    Legislation
	    <!-- click to expand -->
	  </div>
          <div class="col-lg-6">
            Judiciary
	    <!-- click to expand -->
	  </div>
	</div>
      </div>
      <div class="col-lg-12 well">
        <strong>Common Tags</strong>
      </div>
    <div>
  </div>
</div>

{% endblock %}
