{% extends 'layout/base.html' %}

{% block title %}
Legal Seagull | Court Cases
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>Court Cases</strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class= "col-lg-6">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 well">
	Brown v. Board of Education
        <!-- for case in cases -->
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12 well">
         Reserved for Evernote
      </div>
      <div class="col-lg-12 well">
         Analysis in a well
      </div>
      <div class="col-lg-12 well">
         More analysis in a well
      </div>
    <div>
  </div>
</div>

{% endblock %}
