{% extends 'layout/base.html' %}

{% block title %}
Legal Seagull | Courts | {{ justice.name }}
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>{{ justice.name }}</strong></h1>
      <p class="lead">Served 1980 - present</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-8 well">
    <div class="row">
      {% for opinion in justice.opinion_set.all %}
        {% for case in opinion.case_set.all %}
        <div class="col-lg-12">
	  <h3>{{ case.name }}</h3>
	  <p>{{ case.decisionDate }}</p>
	  <p>{{ case.description }}</p>
        </div>
	{% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 well">
        Reserved for Evernote
      </div>
      <div class="col-lg-12 well">
        Information and visualization and such
      </div>
    </div>
  </div>

</div>

{% endblock %}
