{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block title %}
Legal Seagull | Courts | {{ justice.name }}
{% endblock %}

{% block content %}


<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>{{ justice.name }}</strong></h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-8">
    <div class="list-group">

      {% for case in cases %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ case.name }}
          <a href="{{case.get_absolute_url}}">
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </h4>
        <p class="list-group-item-text">
          <p>{{ case.decisionDate }}</p>
          <p>{{ case.description|linebreaks }}</p>
        </p>
      </div>
      {% empty %}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">No opinions authored.</h4>
      </div>
      {% endfor %}

    </div>
  </div>

  {% include 'sidebar.html' %}

</div>

{% endblock %}
