{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block title %}
Legal Seagull | Courts | {{ opinion.case.name }} | {{ opinion.name }}
{% endblock %}

{% block content %}


<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong><em>{{ opinion.case.name }}</em></strong></h1>
      <p class="lead">{{ opinion.name }}</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {% for author in opinion.writtenBy.all %}
            {{ author }}
          {% empty %}
            No authors determined.
          {% endfor %}
        </h4>
      </div>
      <div class="panel-body">
        {{ opinion.contents }}
      </div>
    </div>

  </div>


  <div class="col-lg-4">
    <div class="list-group">

      <div class="list-group-item">
        <p class="list-group-item-text">
          <img src="{% static "imgs/evernote-logo.png" %}" />
          <strong>Evernote</strong>
        </p>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          cross references
        </h4>
        <p class="list-group-item-text">
          stuff goes here.
        </p>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          Common Tags
        </h4>
        <p class="list-group-item-text">
          tag1 tag2
        </p>
      </div>

    </div>
  </div>

</div>

{% endblock %}
