{% extends 'layout/base.html' %}

{% block title %}
Legal Seagull | Courts | Brown v Board of Education | Majority
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong><em>Brown v Board of Education</em></strong></h1>
      <p class="lead">Majority Opinion</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    Who was in the opinion
  </div>

  <div class="col-lg-4">
    Something something something
  </div>
</div>

{% endblock %}
