{% load staticfiles %}
<div class="col-lg-4">
  <div class="list-group">

    <div class="list-group-item">
      <p class="list-group-item-text">
        <img src="{% static "imgs/evernote-logo.png" %}" />
        <strong>Evernote</strong>
      </p>
    </div>

    <div class="list-group-item">
      <h4 class="list-group-item-heading">
        cross references
      </h4>
      <p class="list-group-item-text">
        stuff goes here.
      </p>
    </div>

    <div class="list-group-item">
      <h4 class="list-group-item-heading">
        Common Tags
      </h4>
      <p class="list-group-item-text">
        tag1 tag2
      </p>
    </div>

  </div>
</div>
