{% load staticfiles %}
<div class="col-lg-4">
  <div class="list-group">

    <div class="list-group-item">
      <h4 class="list-group-item-heading text-center">
        Evernote
        <a class="evernote-expander pointer">
          <span class="glyphicon glyphicon-asterisk pull-right"></span>
        </a>
      </h4>
      <div class="list-group-item-text" id="evernote-tab">
        <input type="text" name="evernote-title" id="evernote-title"
        class="form-control" placeholder="Annotation Title" />
        <br/>
        <textarea placeholder="Make annotation..." rows="5"
        class="form-control" id="evernote-textarea"></textarea>
        <br/>
        <input type="button" class="btn btn-primary btn-sm"
        value="Make Note" id="evernote-submit" />
      </div>
    </div>

    <div class="list-group-item">
      <h4 class="list-group-item-heading">
        Common Tags
      </h4>
      <p class="list-group-item-text">
        {% for tag in toptags %}
        <a href="{{tag.get_absolute_url}}">{{ tag }}</a>
        {% endfor %}
      </p>
    </div>

  </div>
</div>
