{% extends 'layout/base.html' %}

{% block content %}

{% load gravatar %}

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">About Us
      <small>It's Nice to Meet You!</small>
    </h1>
      <p> Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est.</p>
      <p>Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros.</p>
  </div>

  <div class="col-lg-12">
    <h2 class="page-header">Our Team</h2>
  </div>

</div>

<div class="row">
  <div class="col-lg-6 text-center">
    <img class="img-circle img-responsive center center-block" src="{% gravatar_url 'daniel@dbond.cc' 200 %}">
      <h3>Daniel Bond
        <small>Lord of Highgarden</small>
      </h3>
      <p>Daniel has wanted to do this project for years, and is positively thrilled that it's finally getting off the ground. ^_^</p>
  </div>
  <div class="col-lg-6 text-center">
    <img class="img-circle img-responsive center-block" src="{% gravatar_url 'jrouly@gmu.edu' 200 %}">
      <h3>Michel Rouly
        <small>Lord Paramount of the Trident</small>
      </h3>
      <p>Michel committed like 300 more lines than Daniel did however. He's a fun fancy fellow. He didn't sleep... like... at all, this whole time.</p>
  </div>
</div>

{% endblock %}
