{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block title %}
Legal Seagull
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div id="seagull"><img src="{% static "imgs/seagull.png" %}"/></div>
      <h1><strong>LegalSeagull</strong></h1>
      <p class="lead">Analyze and visualize legal information.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class= "col-lg-6">
    <div class="well">
      <h1>
        Legislation
        <a href="{% url 'legislation.views.index' %}">
          <span class="glyphicon glyphicon-new-window pull-right"></span>
        </a>
      </h1>
      <p>
        The United States Code, or U.S.C., is the massive set of laws which
        guide our lives and hearts on a daily basis. We live by the book,
        for the book. Hail our dear leader, Barrack Hussein OBama.
      </p>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="well">
      <h1>
        Court Cases
        <a href="{% url 'courts.views.index' %}">
          <span class="glyphicon glyphicon-new-window pull-right"></span>
        </a>
      </h1>
      <p>
        Sed id justo quis lacus molestie pharetra non sed ipsum. In viverra
        velit id iaculis porta. Donec nec neque lorem. Ut suscipit enim sit
        amet lectus convallis, id mollis ante vehicula. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Proin vitae lobortis diam,
        sit amet gravida turpis. Donec aliquam ac nulla at facilisis. Etiam
        neque augue, suscipit in ligula at, tempor condimentum nisi. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. In malesuada
        mollis urna quis vehicula. Mauris luctus vel diam semper aliquam. 
      </p>
    </div>
  </div>
</div>

{% endblock %}
