{% extends 'layout/base.html' %}

{% block title %}
Legal Seagull
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>Legal Seagull</strong></h1>
      <p class="lead">Analyze and visualize legal information.</p>
    </div>
  </div>
</div>

<div class="row well">
  <div class= "col-lg-6">
    <h2 class="text-center"><a href="#">Legislation</a></h2>
    <div class="row">
      Title I
    </div>
  </div>
  <div class="col-lg-6">
    <h2 class="text-center"><a href="#">Court Cases</a></h2>
    <div class="row">
      Brown v. Board of Education
    </div>
  </div>
</div>

{% endblock %}
