{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block title %}
Legal Seagull
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div id="seagull"><img src="{% static "imgs/seagull.png" %}"/></div>
      <h1><strong>LegalSeagull</strong></h1>
      <p class="lead">Analyze and visualize legal information.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class= "col-lg-6">
    <div class="well">
      <h1>
        Legislation
        <a href="{% url 'legislation.views.index' %}">
          <span class="glyphicon glyphicon-new-window pull-right"></span>
        </a>
      </h1>
      <p>
        Legal Seagull supports the United States Code, with plans to add
	regulations, treaties, orders, and state law in the close future.
      </p>
      <p>
        With LS, you can Integrate your research with Evernote-- select material and add it
	right to your notebook from the same screen.
      </p>
      <p>
        Automatically generate citations while reading, and see cross-references to legal cases and other parts of the law created on the fly next to the reading area.
      </p>
      <p>
      Searching is easy with our elegant search engine. No more need for complicated, repetitive menus.
      </p>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="well">
      <h1>
        Court Cases
        <a href="{% url 'courts.views.index' %}">
          <span class="glyphicon glyphicon-new-window pull-right"></span>
        </a>
      </h1>
      <p>
        Legal Seagull supports Supreme Court cases, and will shortly add
	appellate and state court decisions as well, later expanding to 
	more broadly cover legal documents, present and historical.
      </p>
      <p>
        Cases are presented in an easy-to-use timeline format, whether
	sorting generally, by topic, or by Justice, for instance browsing
	through a Justice's most-cited cases.
      </p>
      <p>
        Also supports Evernote and automatically created citations.
      </p>
      <p>See dissents
      and overrulings from the same page as the case.
      </p>
    </div>
  </div>
</div>

{% endblock %}
