{% extends 'layout/base.html' %}
{% load staticfiles %}


{% block title %}
Legal Seagull | Title {{ title.number }}
{% endblock %}

{% block content %}


<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Title {{title.number}}: {{title.name}}
      </h1>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-lg-8">

    {% for chapter in title.chapter_set.all %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Ch {{chapter.number}}: {{chapter.name}}
        </h3>
      </div>
      <div class="panel-body evernote-trigger">

        {% for section in chapter.section_set.all %}
        <h5>
          &sect;{{section.number}}: {{section.name}}
          <span class="pull-right">
            <a href="#">Generate Citation</a>
          </span>
        </h5>
        <p>
          {{ section.text }}
        </p>
        {% empty %}
        <h4>There were no sections found in this chapter.</h4>
        {% endfor %}

      </div>
    </div>
    {% empty %}
    <div class="panel panel-primary">
      <div class="panel-body">
        <h4>There were no chapters found in this title.</h4>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="col-lg-4">
    <div class="list-group">

      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          Evernote
          <a href="#" class="evernote-expander">
            <span class="glyphicon glyphicon-download pull-right"></span>
          </a>
        </h4>
        <div class="list-group-item-text" id="evernote-tab">
          <input type="text" name="evernote-title" id="evernote-title"
          class="form-control" placeholder="Annotation Title" />
          <br/>
          <textarea placeholder="Make annotation..." rows="5"
          class="form-control" id="evernote-textarea"></textarea>
          <br/>
          <input type="button" class="btn btn-primary btn-sm"
          value="Make Note" id="evernote-submit" />
        </div>
      </div>

      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          Cross References
        </h4>
        <p class="list-group-item-text">
          stuff
        </p>
      </div>

    </div>
  </div>

</div>

<script>
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

</script>

{% endblock %}
