{% extends 'layout/base.html' %}
{% load staticfiles %}


{% block title %}
Legal Seagull | Title {{ title.number }}
{% endblock %}

{% block content %}


<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Title {{title.number}}: {{title.name}}
      </h1>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-lg-8">

    {% for chapter in title.chapter_set.all %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Ch {{chapter.number}}: {{chapter.name}}
        </h3>
      </div>
      <div class="panel-body">

        {% for section in chapter.section_set.all %}
        <h5>&sect;{{section.number}}: {{section.name}}</h5>
        <p>
          {{ section.text }}
        </p>
        {% empty %}
        <h4>There were no sections found in this chapter.</h4>
        {% endfor %}

      </div>
    </div>
    {% empty %}
    <div class="panel panel-primary">
      <div class="panel-body">
        <h4>There were no chapters found in this title.</h4>
      </div>
    </div>
    {% endfor %}

  </div>

  <div>
    <div class="col-lg-4">

      <div class="col-lg-12 well">
        <img src="{% static "imgs/evernote-logo.png" %}" />
        <strong>Evernote</strong>
      </div>

      <div class="col-lg-12 well">>
        <strong>Generate Citations</strong>
        <p>{% now "jS F Y H:i" %}</p>
      </div>

      <div class="col-lg-12 well">
        <strong>Cross References</strong>
        <div class="row">
          <div class="col-lg-6">
            Legislation
          </div>
          <div class="col-lg-6">
            Judiciary
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}
