/* Sticky footer styles
-------------------------------------------------- */

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto;
/* Negative indent footer by its height */
margin: 0 auto -35px;
/* Pad bottom by footer height */
padding: 0 0 35px;
}

/* Set the fixed height of the footer here */
#footer {
height: 35px;
}

#seagull img {
max-width: 100% !important;
height: auto;
display: block;
position: absolute;
z-index: -1;
}

@media(max-width: 1200px) {
  #seagull img {
    position: relative;
    margin: auto;
    margin-bottom: -20px;
  }
}

.evernote {
background-image: url('/static/imgs/evernote-logo.png');
background-repeat: no-repeat;
background-position: center center;
min-height: 50px;
}

#evernote-tab {
margin-top: 10px;
display: none;
}
