/* Sticky footer styles
-------------------- */

html
body {
height: 100%
}

#wrap {
min-height: 95%;
height: auto;
margin: 0 auto -50px;
padding: 0 0 50px;
}

#footer {
height: 50px;
}

#seagull img {
max-width: 100% !important;
height: auto;
display: block;
position: absolute;
z-index: -1;
}

@media(max-width: 1200px) {
  #seagull img {
    position: relative;
    margin: auto;
    margin-bottom: -20px;
  }
}
