<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><strong>LegalSeagull</strong></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li><a href="{% url 'legalseagull.views.about' %}">About</a></li>
        <li><a href="{% url 'courts.views.index' %}">Court Cases</a></li>
        <li><a href="{% url 'legislation.views.index' %}">Legislation</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'haystack_search' %}">Search</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>

    </div>
  </div>
</div>
