<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class= "navbar-brand" href="#"><strong>Legal Seagull<strong></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Legislation</a></li>
	<li><a href="#">Court Cases</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In/Up</a></li>
      </ul>
    </div>
  </div><!-- nav-collapse -->
</nav>
